.header__inner {
  max-width: 1140px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 15px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo a img {
  width: 100px;
  height: 26px;
  display: block;
}

.header__nav {
  display: none;
}

.drawer-icon {
  width: 36px;
  height: 26px;
  position: relative;
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 3px;
  background-color: #111;
  border-radius: 6px;
}
.drawer-icon__bar:nth-of-type(1) {
  top: 0;
}
.drawer-icon__bar:nth-of-type(2) {
  top: 9px;
}
.drawer-icon__bar:nth-of-type(3) {
  top: 18px;
}